.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
	background: #4a934a;
}

.header__h1 {
	font-size: 20px;
	text-align: center;
	color: #fff;
	/* border-bottom: 0.1em solid rgb(232, 229, 222); */
	/* display: inline-block; */
}
