.tabs-card {
	background: #888188;
	border-radius: 8px;
	margin: 0 8px 5px 0;
	box-shadow: 4px 5px 5px 1px rgba(161, 155, 155, 0.7);
	-webkit-box-shadow: 4px 5px 5px 1px rgba(161, 155, 155, 0.7);
	-moz-box-shadow: 4px 5px 5px 1px rgba(161, 155, 155, 0.7);
}

.tabs-card__header {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #171717;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.tabs-card__title {
	font-size: 14px;
	margin: auto;
	font-weight: bold;
	color: #fff;
}

.tabs-card__ul {
	padding-left: 5px;
	padding-right: 5px;
	max-height: 10000px;
	opacity: 1;
	transition: max-height 0.6s, opacity 0.8s;
}

.tabs-card__ul-minimize {
	max-height: 0;
	opacity: 0;
}

.tabs-card__img-container {
	width: 20px;
}

.tabs-card__img {
	max-height: 15px;
	object-fit: contain;
}
