.tabs-card {
	border-radius: 8px;
	margin: 0 8px 5px 0;
}

.tabs-card__header {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.tabs-card__title {
	font-size: 14px;
	margin: auto;
	font-weight: bold;
}

.tabs-card__ul {
	padding-left: 5px;
	padding-right: 5px;
	max-height: 10000px;
	opacity: 1;
	transition: max-height 0.6s, opacity 0.8s;
}

.tabs-card__ul-minimize {
	max-height: 0;
	opacity: 0;
}

.tabs-card__img-container {
	width: 20px;
}

.tabs-card__img {
	max-height: 15px;
	object-fit: contain;
}

/* -------- ------- ------ ----- colors palette ----- ------ ------- -------- */

.tabs-card-basic {
	background: var(--tabs-card-color-basic);
	box-shadow: var(--shadow-basic);
}
.tabs-card__header-basic {
	background: var(--header-color-basic);
}
.text-basic {
	color: var(--text-color-basic);
}
.tab-basic {
	background-color: var(--tab-color-basic);
}

.tabs-card-yellow {
	background: var(--tabs-card-color-yellow);
	box-shadow: var(--shadow-yellow);
}
.tabs-card__header-yellow {
	background: var(--header-color-yellow);
}
.text-yellow {
	color: var(--text-color-yellow);
}
.tab-yellow {
	background-color: var(--tab-color-yellow);
}
