.tabs-card {
	border-radius: 8px;
	margin: 0 8px 5px 0;
	height: fit-content;
	/* display: inline-block;
	width: 48%; */
}

.tabs-card__header {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.tabs-card__title {
	font-size: 14px;
	margin: auto;
	font-weight: bold;
}

.tabs-card__color-palette {
	position: relative;
}

.color-palette {
	height: 30px;
	width: 99px;
	background: #eee;
	position: absolute;
	top: 24px;
	left: -55px;
	border-radius: 5px;
	border: 1px solid #db40e5;
	display: grid;
	grid-template-columns: repeat(3, 33px);
	align-items: center;
	justify-items: center;
}

.color-palette__div {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.color-palette__basic {
	background: var(--header-color-basic);
}
.color-palette__pink {
	background: var(--header-color-pink);
}
.color-palette__yellow {
	background: var(--header-color-yellow);
}

.tabs-card__ul {
	padding-left: 5px;
	padding-right: 5px;
	max-height: 10000px;
	opacity: 1;
	transition: max-height 0.6s, opacity 0.8s;
}

.tabs-card__ul-minimize {
	max-height: 0;
	opacity: 0;
}

.tabs-card__img-container {
	width: 20px;
}

.tabs-card__img {
	max-height: 15px;
	object-fit: contain;
}

/* -------- ------- ------ ----- colors palette ----- ------ ------- -------- */

/* -------- ------- ------ ----- basic ----- ------ ------- -------- */
.tabs-card-basic {
	background: var(--tabs-card-color-basic);
	box-shadow: var(--shadow-basic);
}
.tabs-card__header-basic {
	background: var(--header-color-basic);
}
.text-basic {
	color: var(--text-color-basic);
}
.tab-basic {
	background-color: var(--tab-color-basic);
}

/* -------- ------- ------ ----- pink ----- ------ ------- -------- */

.tabs-card-pink {
	background: var(--tabs-card-color-pink);
	box-shadow: var(--shadow-pink);
}
.tabs-card__header-pink {
	background: var(--header-color-pink);
}
.text-pink {
	color: var(--text-color-pink);
}
.tab-pink {
	background-color: var(--tab-color-pink);
}

/* -------- ------- ------ ----- yellow ----- ------ ------- -------- */

.tabs-card-yellow {
	background: var(--tabs-card-color-yellow);
	box-shadow: var(--shadow-yellow);
}
.tabs-card__header-yellow {
	background: var(--header-color-yellow);
}
.text-yellow {
	color: var(--text-color-yellow);
}
.tab-yellow {
	background-color: var(--tab-color-yellow);
}
